body {
    margin: 0 2%;
    font-family: "montserrat";
    font: "montserrat-bold";
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
    display: inline;
    padding: 0 2% 0 2%;
    
}
a {
    text-decoration: none;
    color: inherit;
}

.navbar {
     
    padding: 2% 0 2% 0;
    font-weight: bold;
    font-size: 1.5em;
}

.navbar__logo {
    width: 40%;
}

.navbar__top-navigation {
    margin: 0;
    width: 60%;
    float: right;
    text-align: right;    
}

.top-navigation li:hover {
    background-color: rgb(175, 164, 164);
}

.main-header {
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
}

.intro {
    text-align: center;
    margin-top: 0%;
    display: block;
}

.intro__intro-text {
    margin-block-start: 0;
    margin-block-end: 0;
    width: 45%;
    float: left;
    text-align: justify;
    margin-left: 5%;
    line-height: 2.5;  
    display: block;
}

.hero-image {
    width: 35%;    
}

#arrowDown {
    text-align: center;
    display: block;
    margin: 2em;
}

.tech {
    display: block;
    text-align: center;
    padding: 1.5em;
    font-size: 2em;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.row__card {
    width: 20%;
    text-align: center;
    padding: 1.5em;
    border: 2px grey solid;
}

.row__tech-buttons {
    padding: 15px 50px;
    width: 100%;
    font-size: 1rem;
}

button:hover {
    background-color: darkgray;
    cursor: pointer;
}

.techStack {
    display: flex;
    flex-direction:row;   
    justify-content: space-evenly; 
}

.project-images {
    max-width: 400px;
}


.project {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    border: 2px solid grey; 
    margin-top: 1rem;   
}

.project p {
    text-align: justify;
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30%;    
}

.form__label {
    margin-top: 1rem;    
}

input {
    height: 2rem;
}

.form__submit-btn {
    height: 2rem;
    margin: 1rem 0;
}

#footer {
    display: flex;
    justify-content: space-between;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
}
.social-media i {
    padding-right: 5rem;
}
.fa-facebook-f{
    color: #3E00FF;
}

.fa-instagram {
    color: #FF6B6B;    
}

.fa-twitter {
    color: #3DB2FF;
}

.fa-envelope {
    color: #64C9CF;
}

@media (max-width: 1200px) {
    .logo {
        width: 20%;
    }
    .intro-text {
        width: 100%;
        margin-left: 0%;
    }
    .hero-image {
        width: 100%;
    }
    .project {
        flex-direction: column;
    }
    .project-images {
        width: 100%;
    }
  }

  @media (max-width: 750px) {
    .logo {
        width: 100%;
        text-align: center;
        margin-left: 45%;
    }
    .top-navigation {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        line-height: 1.5;
    }
    .row {
        flex-direction: column;
    }
    .card {
        width: 90%;        
    }
    .techStack {
        flex-direction: column;
        text-align: center;        
    }
    .project {
        flex-direction: column;
    }
    .project-images {
        width: 100%;
    }
    #footer {
        flex-direction: column;
    }
    #footer p {
        text-align: center;
    }
    .social-media i {
        padding: 0%;        
  }
}